<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Unit Tests Suite">
            <directory>tests/DoctrineSortableCollections/Unit/</directory>
        </testsuite>
        <testsuite name="Integration Tests Suite">
            <directory>tests/DoctrineSortableCollections/Integration/</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="\Mockery\Adapter\Phpunit\TestListener" />
    </listeners>

    <filter>
        <whitelist>
            <directory suffix=".php">lib/Lorenzomar/DoctrineSortableCollections</directory>
        </whitelist>
    </filter>
</phpunit>
